BasedOnStyle: Mozilla
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
BreakStringLiterals: true
IndentCaseLabels: true
AlignConsecutiveDeclarations: true
ColumnLimit: 80
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceBeforeCpp11BracedList: true
BreakBeforeBinaryOperators: NonAssignment
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
IndentPPDirectives: AfterHash
AlignTrailingComments: true
ReflowComments: true
SortIncludes: false
IndentExternBlock: AfterExternBlock
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 300
PenaltyBreakString: 100
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60
